<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ChatTTS WebUI & API - V {{version}}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-vendors.min.css">
</head>
<body>


<div class="page">
  <header class="navbar navbar-expand-sm navbar-light d-print-none">
    <div class="container-xl">
      <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
        <a href="#">ChatTTS WebUI & API</a>
      </h1>
      <div class="navbar-nav flex-row order-md-last">
        <div class="nav-item">
          <a href="#" class="nav-link d-flex lh-1 text-reset p-0">
            <div class="d-none d-xl-block ps-2">
              <div class="mt-1 small text-secondary">V1.0</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </header>
  <div class="page-wrapper">
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="col-12 card">
                    <div class="card-body">
                        <div class="row row-cards">
                            <div class="hr-text hr-text-left">STEP.1 输入文本</div>
                            <div class="col-md-12">
                              <div class="mb-3">
                                  <textarea id="text-input" rows="7" class="form-control" placeholder="请在文本框中输入要转换的文本，或从TXT文件导入，ChatTTS 将会以行为单位合成音频，每次换行，将会有较大的间隔。
以下是一些参数说明：
    oral：控制文本口语化程度，范围为0-9，数字越大，添加的连接词越多。
    laugh：控制文本是否添加笑声，范围为0-9，数字越大，笑声越多。
    break：控制文本是否添加停顿，范围为0-9，数字越大，停顿越多。">
                                  </textarea>
                              </div>
                              <div class="mb-3">
                                  <input type="file" id="file-input" accept=".txt" class="form-control" placeholder="">
                              </div>
                            </div>
                            <div class="hr-text hr-text-left">STEP.2 文本处理</div>
{#                            <div class="row row-cards" id="temper_wrap">#}
                                <div class="col-sm-6 col-md-4">
                                    <label for="prompt_oral" class="form-label">口语化</label>
                                    <input id="prompt_oral" type="range" class="form-range mb-2" value="2" min="0" max="9" step="1">
                                    <span class="text-secondary">2</span>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <label for="prompt_laugh" class="form-label">笑声</label>
                                    <input id="prompt_laugh" type="range" class="form-range mb-2" value="0" min="0" max="9" step="1">
                                    <span class="text-secondary">0</span>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <label for="prompt_break" class="form-label">停顿</label>
                                    <input id="prompt_break" type="range" class="form-range mb-2" value="6" min="0" max="9" step="1">
                                    <span class="text-secondary">6</span>
                                </div>
{#                            </div>#}
                            <div class="col-sm-6 col-md-4">
                              <div class="mb-3">
                                <label class="form-label">INFER TOKEN</label>
                                <input id="infer_max_new_token" type="number" class="form-control" value="2048" min="1024" data-toggle="tooltip" title="推理最大token，默认2048">
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                              <div class="mb-3">
                                <label class="form-label">REFINE TOKEN</label>
                                <input id="refine_max_new_token" type="number" class="form-control" value="384" min="1" data-toggle="tooltip" title="文本处理最大token，默认384，未跳过文本处理时有效">
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="mb-3">
                                    <label class="form-label" title="如果文本中加入了控制符或效果较差，可尝试选中该项" data-toggle="tooltip">跳过文本处理</label>
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <input id="skip_refine" class="form-check-input m-0" type="checkbox" checked />
                                        </span>
                                    </div>
                              </div>
                            </div>
                            <div class="hr-text hr-text-left">STEP.3 TTS配置</div>
                            <div class="col-sm-6 col-md-4">
                                <div class="mb-3">
                                    <label class="form-label">音色种子</label>
                                    <select id="voice" class="form-select">
                                        {% for speaker in speakers %}
                                            <option value="{{speaker}}">{{speaker}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="mb-3">
                                    <label class="form-label">自定义音色</label>
                                    <input id="custom_voice" type="number" class="form-control" min="0"
                                           data-toggle="tooltip" title="填写后将忽略左侧音色选择，以该填写值获取音色，大于1，例如 2000，8000 等"
                                           placeholder="自定义音色种子值"/>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="mb-3">
                                    <label class="form-label">情感种子</label>
                                    <input id="text_seed" type="number" class="form-control" value="42" min="0" data-toggle="tooltip" title="">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 d-none">
                                <div class="mb-3">
                                    <label class="form-label">流式输出</label>
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <input id="is_stream" class="form-check-input m-0" type="checkbox">
                                        </span>
                                        <span class="input-group-text">
                                            我想启用流式输出。
                                        </span>
                                    </div>
                                </div>
                            </div>
                          </div>
                        <div class="row row-cards" id="temper_wrap">
                                <div class="col-sm-6 col-md-3">
                                    <label for="speed" class="form-label">语速</label>
                                    <input id="speed" type="range" class="form-range mb-2" value="5" min="1" max="9" step="1">
                                    <span class="text-secondary">5</span>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <label for="temperature" class="form-label">情感波动性</label>
                                    <input id="temperature" type="range" class="form-range mb-2" value="0.1" min="0.00001" max="1.0" step="0.00001">
                                    <span class="text-secondary">0.1</span>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <label for="top_p" class="form-label">情感相关性</label>
                                    <input id="top_p" type="range" class="form-range mb-2" value="0.7" min="0.001" max="0.9" step="0.05">
                                    <span class="text-secondary">0.05</span>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <label for="top_k" class="form-label">情感相似性</label>
                                    <input id="top_k" type="range" class="form-range mb-2 col-md-3" value="20" min="1" max="20" step="1">
                                    <span class="text-secondary">20</span>
                                </div>
                            </div>
                    </div>
                    <div class="card-footer text-end">
                        <button id="submit-btn" type="submit" class="btn btn-primary">立即合成</button>
                    </div>
                </div>
                <div class="col-12 card">
                    <div class="card-header">
                        <h3 class="card-title">输出音频</h3>
                        <div class="card-actions">
                            <button id="clear-btn" type="submit" class="btn btn-warning">清理所有WAV文件</button>
                        </div>
                    </div>
                    <div class="card-body table-responsive">
                          <ul class="timeline" id="audio-container"></ul>
                          <div class="m-2 bg-black text-white d-none" id="code"></div>
                    </div>
                </div>
                <div id="stream" class="d-none">
                    <audio controls id="stream_audio"></audio>
                </div>
            </div>
        </div>
        <div class="text-center my-4">
            <a class="btn btn-link text-secondary" href="https://github.com/jianchang512/chatTTS-ui" target="_blank">GitHub ChatTTS-UI</a>
            <a class="btn btn-link text-secondary" href="https://github.com/2noise/ChatTTS" target="_blank">GitHub ChatTTS</a>
        </div>
    </div>
  </div>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/layer/layer.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script>
$(document).ready(function() {
  $('[data-toggle="tooltip"]').tooltip();

    let audioGenerated = false;

  $('.form-range').on('input', function() {
      $(this).next('span').text($(this).val());
  });

    $('#submit-btn').click(function() {
        var text = $('#text-input').val().trim();
        if (text === '') {
            layer.alert('必须输入文本',{title:false});
        } else {
			let index=layer.load();
			let custom_voice=$('#custom_voice').val();
			/*
			text_list=text.split("\n").map(it=>{
				it=it.trim()
				if(it.length>150 && /。/.test(it)){
					return it.replace(/。/g,"。\n")
				}
				return it    
			});
			text=text_list.join("")
			*/
            let prompt_oral = parseInt($('#prompt_oral').val());
            let prompt_laugh = parseInt($('#prompt_laugh').val());
            let prompt_break = parseInt($('#prompt_break').val());
            let prompt = `[oral_${prompt_oral}][laugh_${prompt_laugh}][break_${prompt_break}]`;
			let data={
				text: text,
				prompt: prompt,
				voice:$('#voice').val(),
				speed:parseInt($('#speed').val()),
				temperature:parseFloat($('#temperature').val()),
				top_p:parseFloat($('#top_p').val()),
				top_k:parseFloat($('#top_k').val()),
				refine_max_new_token:parseInt($('#refine_max_new_token').val()),
				infer_max_new_token:parseInt($('#infer_max_new_token').val()),
				text_seed:parseInt($(text_seed).val()),
				skip_refine:$('#skip_refine').prop('checked')?1:0,
				is_stream:0,
				custom_voice:custom_voice?parseInt(custom_voice):0
			};

      $.ajax({
        url: '/tts',
        type: 'POST',
        data: data,
        timeout: 3600000,
        success: function(response) {
          if (response.code === 0) {
            console.log(response);
            if (response.audio_files) {
              response.audio_files.forEach(function(audio, index) {
                let pos = audio.filename.lastIndexOf('/') + 1;
                let filename = audio.filename.substr(pos);
                let jsCode = `# API调用代码
                import requests

                res = requests.post('http://${location.host}/tts', data=${JSON.stringify(data, null, 2)})
                print(res.json())

                #ok
                {code:0, msg:'ok', audio_files:[{filename: ${audio.filename}, url: ${audio.url}}]}

                #error
                {code:1, msg:"error"}
                `;
				let n=$('#audio-container > li').length+1;
                $('#audio-container').prepend(
				`
                    <li class="timeline-event">
                        <div class="timeline-event-icon">${n}</div>
                        <div class="card timeline-event-card">
                            <div class="card-body">
                                <div class="text-secondary float-end">推理用时 ${audio.inference_time} 秒</div>
                                <h4>${filename}</h4>
                            </div>
                            <div class="card-footer">
                                <ul class="nav nav-pills card-header-pills">
                                    <li class="nav-item">
                                        <audio controls autoplay src="${audio.url}" style="height:35px; width:350px;"></audio>
                                    </li>
                                    <li class="nav ms-auto">
                                        <a title="隐藏该文件" href="javascripts:;" onclick="$(this).parent().parent().parent().parent().parent().remove()" class="nav-link">
                                            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-eye-off"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.585 10.587a2 2 0 0 0 2.829 2.828" /><path d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87" /><path d="M3 3l18 18" /></svg>
                                        </a>
						                <a title="显示API调用"  class="nav-link" data-js-code="${encodeURIComponent(jsCode)}">
                                            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-code"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 8l-4 4l4 4" /><path d="M17 8l4 4l-4 4" /><path d="M14 4l-4 16" /></svg>
                                        </a>
						                <a title="下载音频"  class="nav-link" href="${audio.url}" download="${filename}">
                                            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-file-download"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /><path d="M12 17v-6" /><path d="M9.5 14.5l2.5 2.5l2.5 -2.5" /></svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </>
                `);
              });

              audioGenerated = true;
            } else {
              layer.alert('音频文件生成失败', {title: false});
            }
          } else {
            layer.alert(response.msg, {title: false});
          }
        },
        error: function(xhr, status, error) {
          layer.alert('发生错误: ' + error, {title: false});
        },
        complete: function() {
          layer.close(index);
        }
      });
    }
  });

  $(document).on('click', '.show-js-btn', function() {
    let codeContainer = $(this).parent().next('.code-container');
    codeContainer.toggleClass('d-none');
    if (!codeContainer.hasClass('d-none')) {
      codeContainer.html(`<pre><code>${decodeURIComponent($(this).data('js-code'))}</code></pre>`);
    }
  });


	$('#upload-btn').click(function() {
        $('#file-input').click()
    });
    
    $('#file-input').change(function(e) {
        var file = e.target.files[0];
        if(file) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#text-input').val(e.target.result);
            };
            reader.readAsText(file, 'UTF-8');
        }
    });

    $('#clear-btn').click(function() {
    layer.confirm('是否要清除所有wav文件', {
      btn: ['是', '否'],
	  title:false
    }, function() {
	  layer.msg('清理中...')	 
      $.ajax({
        url: '/clear_wavs',
        type: 'POST',
        success: function(response) {
          if (response.code === 0) {
		    $('#audio-container').html('')
            layer.alert('清理成功', {title: false});
          } else {
            layer.alert('清理失败: ' + response.msg, {title: false});
          }
        },
        error: function(xhr, status, error) {
          layer.alert('发生错误: ' + error, {title: false});
        }
      });
    });
  });


});


/*
let audio_queue=[]
let audio_el=document.getElementById('stream_audio')
const eventSource = new EventSource('/streamtts');
eventSource.onmessage = function(event) {
	console.log(event);
	try{
		let t=JSON.parse(event.data);
		audio_queue.push(t)
		if(audio_el.ended || !audio_el.getAttribute('src')){
			goon_play();
		}
	}catch(e){}
};
function goon_play(){
	if(audio_queue.length>0){
		let t=audio_queue.shift();
		audio_el.src=t['url']
		audio_el.play()
	}
}



audio_el.addEventListener("ended", (event) => {
	goon_play()
});
audio_el.addEventListener("waiting", (event) => {
	goon_play()
});

*/
</script>
</body></html>